@import '~antd/es/style/themes/default.less';

.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 500;
  font-size: 16px;
}
.icon {
  height: 15px;
  margin-right: 0px;
  vertical-align: bottom;
  text-align: center;
}
.iconTop {
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
}

.warnTable {
  // background-color: rgba(14, 12, 156, 0.161);
  :global {
    .ant-table-body {
      border-right: rgb(83, 81, 81);
      //滚动条整体部分
      &::-webkit-scrollbar {
        width: 10px; //y轴滚动条粗细
        height: 6px; //x轴滚动条粗细
        border-bottom: 1px solid rgba(123, 123, 123, 0.4);
      }

      // //滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 2px rgba(100, 87, 87, 0.1);
        background: rgba(77, 77, 75, 0.8);
        margin-bottom: 10px;
      }

      //滚动条的轨道（里面装有thumb）滚动槽
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: 0;
        border-radius: 0;
        background: #1f1d1d; //滚动槽背景色
        border-radius: 10px; //滚动条边框半径设置
      }
    }
  }
}
